*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(234,237,237);
}
.App{
  text-align: center;
  
}
.yt__logo{
  object-fit: contain;
  width: 15%;
  margin: 20px auto;
}
hr{
  width: 85%;
  margin: auto;
  border: 1px solid black;
}
.yt__bottom{
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  padding-right: 100px;
}
.yt__margin{
  border-left: 1px dotted black;
  margin-left:10px;
  margin-right:12px;
}